.button {
  background-color: var(--p-button-background);
  border-color: var(--p-button-border-color);
  border-radius: var(--p-button-border-radius);
  border-style: var(--p-button-border-style);
  border-width: var(--p-button-border-width);
  box-shadow: var(--p-button-shadow);
  color: var(--p-button-color);
  font-size: var(--p-button-font-size);
  font-weight: var(--p-button-font-weight);
  line-height: var(--p-button-line-height);
  outline: none;
  padding: var(--p-button-padding-top) var(--p-button-padding-right)
    var(--p-button-padding-bottom) var(--p-button-padding-left);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 100%;

  &:hover {
    background-color: var(--p-button-background--hover);
    border-color: var(--p-button-border-color--hover);
    box-shadow: var(--p-button-shadow--hover);
    color: var(--p-button-color--hover);
    cursor: pointer;
  }

  &:active,
  &:focus {
    background-color: var(--p-button-background--focus);
    border-color: var(--p-button-border-color--focus);
    box-shadow: var(--p-button-shadow--focus);
    color: var(--p-button-color--focus);
  }
}

.button.buttonTertiary {
  --p-button-background: #fff;
  --p-button-border-color: #1d1d1f;
  --p-button-border-radius: 10px;
  --p-button-border-style: solid;
  --p-button-border-width: 1px;
  --p-button-shadow: none;
  --p-button-color: #1d1d1f;
  --p-button-font-size: 16px;
  --p-button-font-weight: 500;
  --p-button-line-height: 20px;
  --p-button-padding-top: 8px;
  --p-button-padding-right: 8px;
  --p-button-padding-left: 8px;
  --p-button-padding-bottom: 8px;
  --p-button-background--hover: #f0f0f0;
  --p-button-border-color--hover: #1d1d1f;
  --p-button-shadow--hover: none;
  --p-button-color--hover: #1d1d1f;
  --p-button-background--focus: #f0f0f0;
  --p-button-border-color--focus: #1d1d1f;
  --p-button-shadow--focus: none;
  --p-button-color--focus: #1d1d1f;
}
