.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 24px;
}

.contactsData {
  display: inline-grid;
  grid-template-columns: 1fr;
  gap: 8px;
  align-content: start;
  justify-content: start;
}

.row {
  display: flex;
}

.label {
  margin-right: 4px;
  font-weight: bold;
}
