.form {
  background: var(--p-color-basic-1);
  border-radius: 10px;
  padding: 16px;

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  label {
    display: grid;
    gap: 4px;
  }

  .title {
    margin: 0 0 16px 0;
    text-align: center;
    font-size: 20px;
  }
}

@mixin media-768 {
  .form .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
