.sidebar {
  display: none;
  align-self: start;
  padding: 16px;
  border-radius: 10px;
  background: var(--p-color-basic-1);
}

.sidebarTitle {
  font-size: 24px;
  margin-bottom: 16px;
}

.container {
  padding: 8px;
}

.block {
  .links {
    margin-left: 16px;
  }

  .link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;

    .arrow {
      width: 24px;
      height: 24px;
    }
  }

  .nested {
    font-size: 14px;
  }

  .linkActive {
    font-weight: 700;
    text-decoration: none;
    pointer-events: none;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .productLink {
    display: block;
    text-transform: lowercase;
  }

  .productLink:first-letter {
    text-transform: uppercase;
  }
}

@mixin media-768 {
  .sidebar {
    display: block;
  }
}
