.form {
  background: var(--p-color-basic-1);
  padding: 16px;
  border-radius: 10px;

  label {
    display: inline-block;
    margin-bottom: 4px;
  }
}

.title {
  margin: 0 0 16px 0;
  font-size: 20px;
}
