.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 1640px;
  margin: auto;
  padding: 16px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
