.layout {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1640px;
  margin: auto;
  padding: 24px 16px;
}

@mixin media-768 {
  .layout {
    grid-template-columns: 300px 1fr;
    gap: 48px;
  }
}
