.container {
  padding: 8px;
}

.link {
  padding: 8px;
}

.topLink {
  text-transform: uppercase;
}

@mixin media-768 {
  .container {
    padding: 16px;
    background: var(--p-color-basic-1);
    border-radius: 8px;
  }

  .block {
    position: relative;
  }

  .links {
    position: absolute;
    top: 100%;
    left: 0;
  }

  .linksRight {
    top: 0;
    left: 100%;
  }

  .arrow {
    width: 24px;
    height: 24px;
  }

  .link {
    width: 100%;
    padding: 8px 4px;

    .arrow {
      transform: rotate(-90deg);
    }
  }
}
