.input {
  appearance: none;
  background-color: var(--p-field-background);
  border-color: var(--p-field-border-color);
  border-radius: var(--p-field-border-radius);
  border-style: var(--p-field-border-style);
  border-width: var(--p-field-border-width);
  box-shadow: var(--p-field-box-shadow);
  color: var(--p-field-color);
  font-size: var(--p-field-font-size);
  line-height: var(--p-field-line-height);
  outline: none;
  overflow: hidden;
  padding: var(--p-field-padding-top) var(--p-field-padding-right)
    var(--p-field-padding-bottom) var(--p-field-padding-left);
  text-overflow: ellipsis;
  width: 100%;

  &:hover {
    background-color: var(--p-field-background--hover);
    border-color: var(--p-field-border-color--hover);
    box-shadow: var(--p-field-box-shadow--hover);
  }

  &:active,
  &:focus {
    background-color: var(--p-field-background--focus);
    border-color: var(--p-field-border-color--focus);
    box-shadow: var(--p-field-box-shadow--focus);
  }
}
